// *= require bootstrap.min
// *= require_self
// *= require_tree .

body
  padding-top: 70px

#spinner
  position: fixed
  right: 0
  left: 0
  bottom: 0
  z-index: 10000
  display: block
  color: white
  background: red
